<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="cordova-plugin-bassaudio"
      version="0.1.0">
    <name>Cordova BASS Audio Library</name>
    <description>Cordova BASS Audio Library</description>

    <js-module src="www/bassaudio.js" name="BASSAudio">
        <clobbers target="window.bassaudio" />
    </js-module>

    <!-- Android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="BASSAudio">
                <param name="android-package" value="com.platogo.cordova.bassaudio.BASSAudio" />
            </feature>
        </config-file>

        <source-file src="src/android/BASSAudio.java" target-dir="src/com/platogo/cordova/bassaudio" />
        <source-file src="src/android/BASS.java" target-dir="src/com/un4seen/bass" />

        <source-file src="src/android/libs/armeabi/libbass.so" target-dir="libs/armeabi" framework="true" />
        <source-file src="src/android/libs/armeabi-v7a/libbass.so" target-dir="libs/armeabi-v7a" framework="true" />
        <source-file src="src/android/libs/x86/libbass.so" target-dir="libs/x86" framework="true" />
        <source-file src="src/android/libs/x86_64/libbass.so" target-dir="libs/x86_64" framework="true" />
        <source-file src="src/android/libs/arm64-v8a/libbass.so" target-dir="libs/arm64-v8a" framework="true" />
     </platform>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="BASSAudio">
                <param name="ios-package" value="BASSAudio" />
            </feature>
        </config-file>

        <header-file src="src/ios/BASSAudio.h" />
        <source-file src="src/ios/BASSAudio.m" />
        <header-file src="src/ios/bass.h" />
        <source-file src="src/ios/libbass.a" framework="true"/>
        <!-- This does not work: <framework src="src/ios/libbass.a" custom="true" /> -->

        <framework src="Accelerate.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="MobileCoreServices.framework" />
    </platform>
</plugin>
